$body_bg: lightgrey;

body {
    background-color: $body_bg;
    #textbox {
        background-color: black;
        color: white;
        overflow: scroll;
        height: 50px;

        p {
            margin-bottom: 0px;
            padding-bottom: 0px;
        }
    }

    #canvas_goes_here {
        canvas {
            margin-left: -15px;
        }

        .dialog-box {
            position: absolute;
            width: 540px;
            height: 100px;
            color: white;
            background-color: black;
            padding: 5px;
            top: 380px;
            left: 20px;
            zIndex: -100;

            img {
                display: block;
                width: 90px;
                height: 90px;
                float: left;
                background-color: grey;
            }

            .right {
                float: right;
            }

            span {
                display: block;
                height: 100%;
                float: left;
                padding: 20px;
                font-size: larger;
            }
        }
    }

    #right-side {
        background-color: lightgrey;
        height: 500px;
        overflow: hidden;

        #player_status {
            border-bottom: 1px solid black;

            .ammobar {
                vertical-align: middle;
                margin-left: 4px;
                img {
                    height: 32px;
                }
            }
        }

        #equipped {
            border-bottom: 1px solid black;

            div {
                margin-bottom: 5px;
            }
        }

        #inventory {
            padding-top: 20px; 

            .invitem {
                border: 1px solid black;
                border-radius: 5px;
                height: 50px;

                img {
                    width: 48px;
                    height: 48px;
                }
            }

            .invselected {
                background-color: blue;
            }
        }
    }
}

@import 'editor.scss'
