$body_bg: lightgrey;

body {
    background-color: $body_bg;
    #textbox {
        background-color: black;
        color: white;
        overflow: scroll;
        height: 50px;

        p {
            margin-bottom: 0px;
            padding-bottom: 0px;
        }
    }

    #canvas_goes_here {
        canvas {
            margin-left: -15px;
        }
    }

    #right-side {
        background-color: lightgrey;
        height: 500px;

        #equipped {
            border-bottom: 1px solid black;

            div {
                margin-bottom: 5px;
            }
        }

        #inventory {
            padding-top: 20px; 
            .invitem {
                border: 1px solid black;
                border-radius: 5px;
                height: 50px;
            }

            .invselected {
                background-color: blue;
            }
        }
    }
}
